MONGO_LINK=<Your MongoDB link>
BOT_TOKEN=<Your telegram bot token>
API_TOKEN=<Your https://www.abbreviations.com API token>
CHANNEL_ID=<Your Telegram Channel ID>
UID=<Your https://www.abbreviations.com API ID>